<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <link rel="stylesheet" href="https://unpkg.com/reset-css@5.0.1/reset.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/paint.css" />
        <link rel="stylesheet" href="/form.css" />
        <link rel="stylesheet" href="/js-only.css" />
        <script src="/delay.js"></script>
        <title>blek! File</title>

        <style> .footer svg { height: 32px; margin: 10px 0 } </style>

        {% include "seotags.html" %}
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="header">
            {% include "text-x-generic.svg" %}
            blek! File - a minute file sharing
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">

            <table>
                <tbody>
                    <tr>
                        <td>
                            <small>Made with Rust and &lt;3</small>
                
                            <ul style='margin:10px 0'>
                                <li>
                                    <a href="https://git.blek.codes/blek/bfile">
                                        Source code
                                    </a>
                                </li>
                                <li>
                                    <a href="/license">
                                        Released under GPLv3
                                    </a>
                                </li>
                                <li>
                                    <a href="/authors">
                                        Made by blek! and contributors
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td style="text-align:right;vertical-align:bottom">
                            <a href="https://blek.codes">
                                {% include "blek.svg" %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <script src="/js-only.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>