{% extends "base.html" %}

{% block body %}


<div style="max-width:95vw;width:900px;margin:0 auto;line-height:16pt">
    <h1 style="text-align:center">Password-protected file uploads</h1>

    <p>
        When uploading a file to blek! File, you may add a password to it, if it has confidential data.
    </p>

    <p>
        However, be aware that even though the file won't be sent unless the user provides a password,

        <b>the instance owner will still be able to see the file contents without a password.</b>
    </p>

    <h2>Why can't the site encrypt it for me?</h2>
    <p>
        There is a number of reasons why that is a stupid idea.
    </p>
    <ol style="list-style:decimal;padding-left:12px;">
        <li>
            This site's only purpose is to store files for short periods of time.
            It doesnt include "storing the files securely", or encrypting them.
        </li>
        <li>
            When the encryption happens server-side, there is a risk that the password could be logged.
        </li>
    </ol>

    <h2>How do I encrypt a file, then?</h2>
    <p>
        Its dead simple: download a program for encrypting files on your computer and use it to handle
        all encryption operations.
    </p>
    <p>
        As for the encryption program, it is recommended to use
        <a href='https://gnupg.org'>GnuPG</a>
        (
            <a href="https://gpg4win.org">Windows</a>
            <a href="https://openkeychain.org">Android</a>
        ).

        <a href="https://www.openpgp.org/software/kleopatra">
            Kleopatra
        </a>
        is a cross-platform easy to use GUI for GPG.
    </p>

    <p style="margin-top:40px">
        <a role='button' href="/" class="btn" style="display:block">
            Go back to upload
        </a>
    </p>
</div>

{% endblock %}