<meta name="author" content="blek!">
<meta name="description" content="{{ conf.brand.instance_motto }}">
<meta name="keywords" content="file, upload file, munite file hosting, blek!, file hosting, share files">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ conf.brand.instance_emoji }} {{ conf.brand.instance_name }}">
<meta name="twitter:description" content="{{ conf.brand.instance_motto }}">
<meta name="twitter:site" content="{{ env.instanceurl }}">
{#- <meta name="twitter:creator" content="@"> -#}
<meta name="twitter:image" content="/bfile.jpg">

<meta property="og:title" content="{{ conf.brand.instance_emoji }} {{ conf.brand.instance_name }}">
<meta property="og:description" content="{{ conf.brand.instance_motto }}">

<meta property="og:url" content='{{ env.instanceurl }}'>
<meta property="og:site_name" content="{{ conf.brand.instance_emoji }} {{ conf.brand.instance_name }}">
<meta property="og:type" content="website">
<meta property="og:image" content="/bfile.jpg">

<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#303030">