<meta name="author" content="blek!">
<meta name="description" content="A minute file hosting service">
<meta name="keywords" content="file, upload file, munite file hosting, blek!, file hosting, share files">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="🛸 blek! File">
<meta name="twitter:description" content="A minute file hosting service">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:image" content="">

<meta property="og:title" content="🛸 blek! File">
<meta property="og:description" content="A minute file hosting service">
<meta property="og:url" content="https://file.blek.codes">
<meta property="og:site_name" content="file.blek.codes">
<meta property="og:type" content="website">
<meta property="og:image" content="">

<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#303030">