:80 {
    reverse_proxy http://filed
    handle /qr/* {
        uri * strip_prefix /qr
        reverse_proxy http://qr
    }
    handle /resource/* {
        uri * strip_prefix /resource
        reverse_proxy http://resourced
    }
}