html, body {
    margin: 0; padding: 0;
    font-family: 'Red Hat Display', 'Open Sans', 'Segoe UI', sans-serif;
    background: var(--header-color);

    scrollbar-width: none;
    -ms-overflow-style: none;

    color: var(--fg-color)
}
::-webkit-scrollbar {
    display: none;
}

:root {
    --accent-color: #78aeed;
    --accent-bg-color: #3584e4;
    --accent-fg-color: #ffffff;
    --accent-font: 'Red Hat Display';
    --accent-font-size: 18pt;
    --accent-weight: 900;   

    --header-color: #303030;
    --header-fg-color: #ffffff;
    --header-sec-color: #404040;
    --header-padding-x: 16px;
    --header-padding-y: 12px;
    --header-font-size: 12pt;
    --header-height: 50px;

    --view-color: #1e1e1e;

    --fg-color: #ffffff;
    --margin: 12px 24px;
    --margin-y: 12px;
    --margin-x: 24px;

    --footer-height: 60px;
}

.header {
    background: transparent;
    color: var(--header-fg-color);
    /* border-bottom: 1px solid var(--header-sec-color); */
    font-family: var(--accent-font);
    font-weight: var(--accent-weight);
    font-size: var(--header-font-size);
    padding: var(--header-padding-y) var(--header-padding-x);
    height: calc(var(--header-height) - (var(--header-padding-y)*2));
}
.header svg {
    width: var(--header-font-size);
    height: var(--header-font-size);
    transform: translateY(2px);
    padding-right: var(--header-padding-y);
}
.header .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    z-index: 0;
    height: calc(var(--header-height) + 12px);
}
.header .header-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 var(--header-padding-x);
}

.content-box {
    position: absolute;
    top: var(--header-height);
    width: 100%;
    height: 100%;
}
.content {
    background: var(--view-color);
    border-top: 1px solid var(--header-sec-color);
    border-bottom: 1px solid var(--header-sec-color);
    min-height: calc(100vh - (var(--header-font-size) + (var(--header-padding-y) * 2)) - var(--footer-height) - 30px);
    border-radius: 12px;
    padding: var(--margin-y) 0;
    box-shadow: 0 2px 1px #00000010;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    margin: var(--margin);
}

h1, h2, h3, h4, h5 {
    font-family: var(--accent-font);
    font-size: var(--accent-font-size);
    font-weight: var(--accent-weight);
}
h2 {
    font-size: var(--accent-font-size);
    font-weight: var(--accent-weight);
}
h3 {
    font-size: calc(var(--accent-font-size) * 0.9);
    font-weight: 600;
}
h4 {
    font-size: calc(var(--accent-font-size) * 0.8);
    font-weight: 600;
}

b {
    font-weight: bold;
    font-size: 90%;
}

p {
    margin: var(--margin-y) 0;
}
a {
    color: cyan;
    text-decoration: none;
    transition: 250ms ease;
    border-bottom: 1px solid #ffffff00;
}
a:hover {
    border-bottom-color: #ffffff40;
}
a[role=button] {
    color: white
}
a:visited {
    color: darkcyan
}

.card {
    background: var(--header-color);
    border: 1px solid var(--header-sec-color);
    border-radius: 12px;
    width: fit-content;
    transition: 250ms ease;
}
@media (max-width:667px) {
    .card {
        width: 100%;
    }
}
.card-title {
    border-radius: 12px 12px 0 0;
    background: #292929;
    padding: var(--header-padding-x) var(--header-padding-x);
    font-size: var(--header-font-size);
    font-weight: var(--accent-weight);
    border-bottom: 1px solid var(--header-sec-color);
}
.card-text {
    padding: var(--margin-y) var(--header-padding-x);
}
.card-text p {
    margin-left: 0;
}

.btn {
    border-radius: 12px;
    background: var(--header-sec-color);
    padding: var(--header-padding-y);
    border: 0px solid transparent;
    color: var(--accent-fg-color);
    text-decoration: none;
    transition: 250ms ease;
}
.btn:hover {
    background: #393939;
}
.btn:active {
    background: #323232;
}

.btn-fill {
    width: 100%;
}


.file-drag-n-drop {
    display: block;
    cursor: pointer;
    width: 440px;
    height: 440px;
    background: var(--header-sec-color);
    border-radius: 16px;
    padding: var(--header-padding-x);
    transition: 250ms ease;
    margin-bottom: 0;
    border: 0px solid transparent;
    color: var(--header-fg-color);
}
.file-drag-n-drop:hover {
    background: #393939;
}
.file-drag-n-drop * { display: block }
.file-drag-n-drop object { display: initial }
.file-drag-n-drop .file-drag-n-drop-inside {
    padding: var(--header-padding-x);
    border: 4px dotted #656565;
    height: calc(100% - 32px - 8px);
    border-radius: 16px;
    transition: 250ms ease;
}
.file-drag-n-drop .file-drag-n-drop-inside .file-drag-n-drop-inside-text {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 32px;
}
.mobile-file-upload-btn {
    display: block;
    opacity: 0;
    height: 0;
    width: calc(100% - 24px);
    clip-path: inset(0 0 0 0);
    padding: 0;
}

@media (max-width:667px) {
    .file-drag-n-drop {
        opacity: 0;
        clip-path: inset(0 0 0 0);
        height: 0;
        padding: 0;
    }
    .mobile-file-upload-btn {
        cursor: pointer;
        height: fit-content;
        opacity: 1;
        padding: var(--header-padding-y);
        text-align: center;
    }
    .bfile-formupload-file-delete-pick {
        margin-bottom: 28px;
    }
}

.footer {
    width: 80%;
    height: var(--footer-height);
    padding: 20px 10%;
}
.footer small {
    font-size: 80%;
    opacity: 0.8;
}
.footer ul {
    font-size: 80%;
}
.footer a {
    color: #888888 !important;
}
.footer table {
    width: 100%;
}
.footer svg {
    color: var(--header-color);
    transition: 500ms ease;
    filter: brightness(1.2);
}
.footer svg:hover {
    filter: brightness(1.4);
}

input[type=text],
input[type=password],
input[type=email] {
    background: var(--header-fg-color);
    color: var(--header-color);
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 2px 4px;
    outline: none;
}
