{% extends "base.html" %}

{% block body %}

<div style="max-width:95vw;width:fit-content;margin:0 auto">
    <h1 style="text-align:center">Terms and conditions</h1>
    <ol style="list-style:decimal;padding-left:18px">
        <li>
            By uploading any file to this website, as a user, you state that the files
            you upload are completely legal and take full responsibility for their
            distribution via blek! File.
        </li>
        <li>
            Uploading a file with password gives no guarantee that the password will be
            stored securely, or that the file will be encrypted or protected at all.
        </li>
    </ol>
</div>

{% endblock %}