# Welcome to the filed main configuration file!
# The comments in this file will be your guide to configuring it to fit your needs.

# If you wish there were an option in this file,
# open an issue or a PR at the git repo:
# https://git.blek.codes/blek/bfile

[files]

# Allow uploads to this server.
# Its useful to turn it off during attacks
allow_uploads=true

# Allow custom names for files
allow_custom_names=true

# Allow password protection
allow_pass_protection=true

# Reason why the uploads are disabled
# This is shown only if allow_uploads = false
# upload_disable_reason="File uploads were disabled because of an ongoing attack."

# Timeout for deleting a user uploaded file
file_del_timeout=1800

# Whitelisted file types.
# If you uncomment the line below, users
# will be able to upload only plain text files
# List: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types

# type_whitelist=[ "text/plain" ]

# Same as the option above, but in reverse.
# If you uncomment the line below, users will not be able
# to upload plain text files
# type_blacklist=[ "text/plain" ]


# Branding settings:
# instance name, logo, motto, etc
[brand]

# Name of the instance.
# Change it to fit your website's image
instance_name="blek! File"

# Instance motto.
# Leave a blank string to disable
instance_motto="A minute file sharing service"

# Instance emoji.
# Used as the icon where icon images are not available
instance_emoji="🌠"
